In [9]:
a = "김"
b = '간디'

In [10]:
print(a)

김

In [13]:
var1 = 100
var2 = '김'
var3 = True

print(var1, type(var1))
print(var2, type(var2))
print(var3, type(var3))

100 <class 'int'>
김 <class 'str'>
True <class 'bool'>

In [58]:
# Operator(연산자)
i = 10
print(i)
i = i + 1
print(i)
i = 10
i += 1
print(i)

10
11
11

In [29]:
'''
연산자(Operater)
1. 변수에 값 할당(=)
2. 연산자 : 산술, 관계, 논리
3. print 형식
4. input : 키보드 입력
'''

12

In [67]:
a, b = 10, 10
print("a = ", a, "b = ", b)

a =  10 b =  10

In [85]:
# 2. 연산자 : 산술, 관계, 논리

num1 = 100
num2 = 20.5

In [86]:
add = num1 + num2
sub = num1 - num2
mul = num1 * num2

# / : 실수형 몫
# // : 정수형 몫
# % : 나머지
div = num1 / num2
div2 = num1 // num2
div3 = num1 % num2
squre = num1 ** 2
print("add = ", add, "sub = ", sub, "mul = ", mul)
print("mul = ", mul, "div = ", div)
print("div2 = ", div2, "div3 = ", div3, "squre = ", squre)

add =  120.5 sub =  79.5 mul =  2050.0
mul =  2050.0 div =  4.878048780487805
div2 =  4.0 div3 =  18.0 squre =  10000

In [ ]:
print("관계연산자") # True or False
# 1) 동등비교
bool_re = num1 == num2
print(bool_re) # False

bool_re = num1 != num2
print(bool_re) # True

# 2) 대소 관계 : >, >=, <, <=
bool_re = num1 >= num2
print(bool_re) # True

bool_re = num1 <= num2
print(bool_re) # False

In [93]:
print("논리 연산자") # or, and, not
bool_re = num1 >= num2 or num1 <= 10
print(bool_re) # True

bool_re = num1 >= num2 and num1 <= 10
print(bool_re) # False

bool_re = not(num1 <= 10) # False -> True
print(bool_re) # True

Num1과 num2는 다르다

True

In [95]:
# 1) 기본 인수
print("value = ", 10 + 20 +30) # value =  60
print("출력1", end = ", ") # 출력1, 출력2
print("출력2")
print("010", "1111", "2222", sep = "-") # 010-1111-2222

value =  60
출력1, 출력2
010-1111-2222

In [102]:
# 2) format(value, "형식")
print("원주율 =", format(3.1459, "8.3f")) # 원주율 =    3.146 "8(전체 자릿수).3(소숫점자리)f"
print("금액 =", format(10000, "10d"))    # 금액 =      10000
print("금액 =", format(125000, "10,d"))   # 금액 = 125,000

원주율 =    3.146
금액 =      10000
금액 =    125,000

In [103]:
num1 = 10; num2 = 20
tot = num1 + num2
print("%d + %d = %d" % (num1, num2, tot))
print("%s = %.3f" % ("PI", 3.1459))

10 + 20 = 30
PI = 3.146

In [104]:
# 3) print("양식문자" % (값)) 
num1 = 10; num2 = 20
tot = num1 + num2
print("%d + %d = %d" % (num1, num2, tot))     # 10 + 20 = 30
print("%s = %.3f" % ("PI", 3.1459))           # PI = 3.146

10 + 20 = 30
PI = 3.146

In [115]:
# 4) 외부 상수 받기
# "{}, {}".format(value1, value2)
print("name : {}, age : {}".format("홍길동", 35))

print("name : {}, age : {}".format("홍길동", 35))
# name : 홍길동, age : 35
print("name : {1}, age : {0}".format(35, "홍길동"))
# name : 홍길동, age : 35

print(f"김도민 : {35}, 양시영 : {'김도민'}")

name : 홍길동, age : 35
name : 홍길동, age : 35
name : 홍길동, age : 35
김도민 : 35, 양시영 : 김도민

In [112]:
del 김도민

In [ ]:
# format 축약형 : sql
# select * from emp whre name = '홍길동'
name = "홍길동"
age = int(input("나이 : "))
sql = f"select * from emp where name = '{name}' and age = {age}"
# f = format
print(sql) # select * from emp where name = '홍길동' and age = 35

In [ ]:
# 3. print 형식
help(print) # 함수 도움말
# package > module > function or class
# Help on built-in function print in module builtins:
# print(value, ..., sep=' ', end='\n'
# module builtins: 기본 모듈(Python 설치 시 자동으로 설치되는 모듈)
'''
함수의 인수
매개변수 : 값을 넘겨 받는 함수
파라미터 : 값을 갖는 변수 (대개 함수 내에서 dfault 값)
'''

# 1) 기본 인수
print("value = ", 10 + 20 +30) # value =  60
print("출력1", end = ", ") # 출력1, 출력2
print("출력2")
print("010", "1111", "2222", sep = "-") # 010-1111-2222

# 2) format(value, "형식")
print("원주율 =", format(3.1459, "8.3f")) # 원주율 =    3.146 "8(전체 자릿수).3(소숫점자리)f"
print("금액 =", format(10000, "10d"))    # 금액 =      10000
print("금액 =", format(125000, "3,d"))   # 금액 = 125,000

# 3) print("양식문자" % (값)) # 양식문자(p.22)
num1 = 10; num2 = 20
tot = num1 + num2
print("%d + %d = %d" % (num1, num2, tot))     # 10 + 20 = 30
print("8진수 = %o, 16진수 = %x" % (num1, num1)) # 8진수 = 12, 16진수 = a
print("%s = %.3f" % ("PI", 3.1459))           # PI = 3.146

# 4) 외부 상수 받기
# "{}, {}".format(value1, value2)
print("name : {}, age : {}".format("홍길동", 35))
# name : 홍길동, age : 35
print("name : {1}, age : {0}".format(35, "홍길동"))
# name : 홍길동, age : 35

# format 축약형 : sql
# select * from emp whre name = '홍길동'
name = "홍길동"
age = int(input("나이 : "))
sql = f"select * from emp where name = '{name}' and age = {age}"
# f = format
print(sql) # select * from emp where name = '홍길동' and age = 35

In [ ]:
'김도민'