In [3]:
import re
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")
%matplotlib inline

In [37]:
train = pd.read_csv("./data/train.csv")
test = pd.read_csv("./data/test.csv")

In [38]:
# 조식
train["조식메뉴"] = train["조식메뉴"].apply(lambda x: x.replace("/", " "))
test["조식메뉴"] = test["조식메뉴"].apply(lambda x: x.replace("/", " "))

# 중식
train["중식메뉴"] = train["중식메뉴"].apply(lambda x: x.replace("/", " "))
test["중식메뉴"] = test["중식메뉴"].apply(lambda x: x.replace("/", " "))

# 석식
train["석식메뉴"] = train["석식메뉴"].apply(lambda x: x.replace("/", " "))
test["석식메뉴"] = test["석식메뉴"].apply(lambda x: x.replace("/", " "))

In [39]:
menu = pd.read_csv("./data/메뉴2.csv")

In [40]:
train["조식메뉴"] = train["조식메뉴"].apply(lambda x: re.sub("\\(.*?\\)", "", x))
train["중식메뉴"] = train["중식메뉴"].apply(lambda x: re.sub("\\(.*?\\)", "", x))
train["석식메뉴"] = train["석식메뉴"].apply(lambda x: re.sub("\\(.*?\\)", "", x))

test["조식메뉴"] = test["조식메뉴"].apply(lambda x: re.sub("\\(.*?\\)", "", x))
test["중식메뉴"] = test["중식메뉴"].apply(lambda x: re.sub("\\(.*?\\)", "", x))
test["석식메뉴"] = test["석식메뉴"].apply(lambda x: re.sub("\\(.*?\\)", "", x))

In [41]:
train["조식메뉴"] = train["조식메뉴"].apply(lambda x: x.split())
train["중식메뉴"] = train["중식메뉴"].apply(lambda x: x.split())
train["석식메뉴"] = train["석식메뉴"].apply(lambda x: x.split())

test["조식메뉴"] = test["조식메뉴"].apply(lambda x: x.split())
test["중식메뉴"] = test["중식메뉴"].apply(lambda x: x.split())
test["석식메뉴"] = test["석식메뉴"].apply(lambda x: x.split())

In [42]:
menu = menu.iloc[:, :10]

In [58]:
df = pd.concat([train, test])

In [59]:
df.reset_index(drop = True, inplace = True)

In [60]:
df.head(1)

,일자,요일,본사정원수,본사휴가자수,본사출장자수,본사시간외근무명령서승인건수,현본사소속재택근무자수,조식메뉴,중식메뉴,석식메뉴,중식계,석식계
0,2016-02-01,월,2601,50,150,238,0.0,"[모닝롤, 찐빵, 우유, 두유, 주스, 계란후라이, 호두죽, 쌀밥, 된장찌개, 쥐어...","[쌀밥, 잡곡밥, 오징어찌개, 쇠불고기, 계란찜, 청포묵무침, 요구르트, 포기김치]","[쌀밥, 잡곡밥, 육개장, 자반고등어구이, 두부조림, 건파래무침, 포기김치]",1039.0,331.0

In [79]:
df_lst = []
for idx in range(len(df)):
    lst = df["중식메뉴"][idx] + df["석식메뉴"][idx]
    day = [df.iloc[idx, 0] for _ in range(len(lst))]
    use_df = pd.DataFrame({"일자":day, "메뉴":lst})
    df_lst.append(use_df)

In [65]:
use_df = pd.concat(df_lst).reset_index(drop = True)

In [73]:
check_menu = pd.merge(use_df, menu, how = "left", on = "메뉴")

In [74]:
check_menu.to_csv("./data/check_menu.csv", encoding = "euc-kr", index = False)

In [78]:
check_menu[check_menu["작업자"].isnull()]

,일자,메뉴,작업자,대분류,중분류(재료1),중분류2(재료2),중분류3(재료3),중분류4(재료4),중분류5(재료5),소분류1(육류 종류만 기재),양식(western) 여부
2,2016-02-01,오징어찌개,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2016-02-02,오징어찌개,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2016-02-03,오징어찌개,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,2016-02-04,오징어찌개,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,2016-02-05,오징어찌개,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
18752,2021-04-05,오징어찌개,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18767,2021-04-06,오징어찌개,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18782,2021-04-07,오징어찌개,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18797,2021-04-08,오징어찌개,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18812,2021-04-09,오징어찌개,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN