In [254]:
import re
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")
%matplotlib inline

In [255]:
train = pd.read_csv("./data/train.csv")
test = pd.read_csv("./data/test.csv")

In [256]:
# 조식
train["조식메뉴"] = train["조식메뉴"].apply(lambda x: x.replace("/", " "))
test["조식메뉴"] = test["조식메뉴"].apply(lambda x: x.replace("/", " "))

# 중식
train["중식메뉴"] = train["중식메뉴"].apply(lambda x: x.replace("/", " "))
test["중식메뉴"] = test["중식메뉴"].apply(lambda x: x.replace("/", " "))

# 석식
train["석식메뉴"] = train["석식메뉴"].apply(lambda x: x.replace("/", " "))
test["석식메뉴"] = test["석식메뉴"].apply(lambda x: x.replace("/", " "))

In [257]:
menu = pd.read_csv("./data/메뉴2.csv")

In [258]:
train["조식메뉴"] = train["조식메뉴"].apply(lambda x: re.sub("\\(.*?\\)", "", x))
train["중식메뉴"] = train["중식메뉴"].apply(lambda x: re.sub("\\(.*?\\)", "", x))
train["석식메뉴"] = train["석식메뉴"].apply(lambda x: re.sub("\\(.*?\\)", "", x))

test["조식메뉴"] = test["조식메뉴"].apply(lambda x: re.sub("\\(.*?\\)", "", x))
test["중식메뉴"] = test["중식메뉴"].apply(lambda x: re.sub("\\(.*?\\)", "", x))
test["석식메뉴"] = test["석식메뉴"].apply(lambda x: re.sub("\\(.*?\\)", "", x))

In [259]:
train["조식메뉴"] = train["조식메뉴"].apply(lambda x: x.split())
train["중식메뉴"] = train["중식메뉴"].apply(lambda x: x.split())
train["석식메뉴"] = train["석식메뉴"].apply(lambda x: x.split())

test["조식메뉴"] = test["조식메뉴"].apply(lambda x: x.split())
test["중식메뉴"] = test["중식메뉴"].apply(lambda x: x.split())
test["석식메뉴"] = test["석식메뉴"].apply(lambda x: x.split())

In [260]:
menu = menu.iloc[:, :10]

In [261]:
df = pd.concat([train, test])

In [262]:
df.reset_index(drop = True, inplace = True)

In [263]:
df.head(1)

,일자,요일,본사정원수,본사휴가자수,본사출장자수,본사시간외근무명령서승인건수,현본사소속재택근무자수,조식메뉴,중식메뉴,석식메뉴,중식계,석식계
0,2016-02-01,월,2601,50,150,238,0.0,"[모닝롤, 찐빵, 우유, 두유, 주스, 계란후라이, 호두죽, 쌀밥, 된장찌개, 쥐어...","[쌀밥, 잡곡밥, 오징어찌개, 쇠불고기, 계란찜, 청포묵무침, 요구르트, 포기김치]","[쌀밥, 잡곡밥, 육개장, 자반고등어구이, 두부조림, 건파래무침, 포기김치]",1039.0,331.0

In [264]:
df_lst = []
for idx in range(len(df)):
    lst = df["중식메뉴"][idx] + df["석식메뉴"][idx]
    lunch = ["중식" for _ in range(len(df["중식메뉴"][idx]))]
    dinner = ["석식" for _ in range(len(df["석식메뉴"][idx]))]
    meal = lunch + dinner
    day = [df.iloc[idx, 0] for _ in range(len(lst))]
    use_df = pd.DataFrame({"일자":day, "식사":meal,"메뉴":lst})
    df_lst.append(use_df)

In [265]:
use_df = pd.concat(df_lst).reset_index(drop = True)

In [81]:
check_menu = pd.merge(use_df, menu, how = "left", on = "메뉴")

In [82]:
check_menu.to_csv("./data/check_menu.csv", encoding = "euc-kr", index = False)

In [83]:
check_menu[check_menu["작업자"].isnull()]

,일자,메뉴,작업자,대분류,중분류(재료1),중분류2(재료2),중분류3(재료3),중분류4(재료4),중분류5(재료5),소분류1(육류 종류만 기재),양식(western) 여부
2,2016-02-01,오징어찌개,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2016-02-02,모둠소세지구이,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,2016-02-15,닭감자조림,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,2016-02-19,돌나물무침,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,2016-02-22,오곡밥,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
17347,2021-04-08,양상추샐러드*자몽D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17356,2021-04-09,찰현미밥,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17359,2021-04-09,청포묵*양념간장,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17360,2021-04-09,비름나물고추장무침,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17362,2021-04-09,그린샐러드*망고D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
aa = pd.read_csv("./data/check_menu.csv", encoding = "euc-kr")

In [95]:
aa["중분류(재료1)"] = aa["중분류(재료1)"].str.replace("채소", "채소류").replace("채소류류", "채소류")

In [97]:
aa.to_csv("./data/check_menu.csv", encoding = "euc-kr", index = False)

In [100]:
aa = pd.read_csv("./data/check_menu.csv", encoding = "euc-kr")

In [111]:
aa

,일자,메뉴,작업자,대분류,중분류(재료1),중분류2(재료2),중분류3(재료3),중분류4(재료4),중분류5(재료5),소분류1(육류 종류만 기재),양식(western) 여부
0,2016.2.1,쌀밥,문성일,밥류,곡류,NaN,NaN,NaN,NaN,NaN,NaN
1,2016.2.1,잡곡밥,편도연,밥류,곡류,NaN,NaN,NaN,NaN,NaN,NaN
2,2016.2.1,오징어찌개,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016.2.1,쇠불고기,편도연,볶음류,채소류,NaN,NaN,NaN,NaN,소,NaN
4,2016.2.1,계란찜,김도민,찜류,난류,채소류,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
17364,2021.4.9,맑은버섯국,문성일,국탕류,채소류,NaN,NaN,NaN,NaN,NaN,NaN
17365,2021.4.9,매운사태조림,연제호,조림류,육류,NaN,NaN,NaN,NaN,소고기,NaN
17366,2021.4.9,춘권*타르타르D,김윤수,튀김류,곡류,양념 및 장류,NaN,NaN,NaN,NaN,NaN
17367,2021.4.9,열무나물무침,김윤수,무침류,채소류,NaN,NaN,NaN,NaN,NaN,NaN
17368,2021.4.9,포기김치,연제호,김치류,김치류,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
use_df.info()

In [102]:
menu_df = aa.drop_duplicates(subset="메뉴", keep = 'last')

In [108]:
aa.iloc[:, :2]

             일자        메뉴
0      2016.2.1        쌀밥
1      2016.2.1       잡곡밥
2      2016.2.1     오징어찌개
3      2016.2.1      쇠불고기
4      2016.2.1       계란찜
...         ...       ...
17364  2021.4.9     맑은버섯국
17365  2021.4.9    매운사태조림
17366  2021.4.9  춘권*타르타르D
17367  2021.4.9    열무나물무침
17368  2021.4.9      포기김치

[17369 rows x 2 columns]

In [302]:
menu = pd.read_csv("./data/check_menu.csv", encoding = "euc-kr")

In [303]:
use_menu = menu.drop_duplicates(subset="메뉴", keep = "first").reset_index(drop = True).iloc[:, 2:]

In [304]:
aaa = pd.merge(menu.iloc[:,:3], use_menu, how = "left", on = "메뉴")

In [330]:
aaa.to_csv("./data/check_menu.csv", encoding='euc-kr', index = False)

In [329]:
aaa[aaa["대분류"].isnull()]["메뉴"].value_counts()[:10]

Series([], Name: 메뉴, dtype: int64)

In [328]:
aaa.drop(aaa[aaa["메뉴"] == '*자기계발의날*'].index, inplace = True)

In [205]:
zzz = aaa.groupby(["일자", "대분류"]).agg("count")["메뉴"].reset_index()

In [208]:
zzz = aaa.groupby(["일자", "대분류"]).agg("count")["메뉴"].reset_index()
pd.pivot_table(zzz, values = "메뉴", columns="대분류", index = "일자")

대분류,구이류,국수류,국탕류,김(초)밥류,김치류,단품류,덮밥국밥류,면류,무침류,묵류,...,음료 및 주류,장아찌류,전류,전류,조림류,죽류,찌개류,찜류,튀김류,튀김류
일자,,,,,,,,,,,,,,,,,,,,,
2016.10.10,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN
2016.10.11,1.0,NaN,2.0,NaN,NaN,1.0,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2016.10.12,1.0,NaN,2.0,NaN,NaN,1.0,NaN,NaN,4.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2016.10.13,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2016.10.14,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,1.0,NaN,NaN,1.0,NaN,1.0,1.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021.4.5,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN
2021.4.6,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN
2021.4.7,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2021.4.8,1.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2021.4.9,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN

In [206]:
zzz

              일자   대분류  메뉴
0     2016.10.10   국탕류   2
1     2016.10.10   무침류   4
2     2016.10.10    밥류   4
3     2016.10.10   볶음류   2
4     2016.10.10   조림류   1
...          ...   ...  ..
9115    2021.4.9   무침류   5
9116    2021.4.9    밥류   4
9117    2021.4.9  샐러드류   1
9118    2021.4.9   조림류   1
9119    2021.4.9   튀김류   1

[9120 rows x 3 columns]